@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: rgb(160,189,255);
    background: linear-gradient(120deg, rgb(109, 128, 170) 47%, rgba(162, 192, 243, 0.947) 100%, rgb(184, 180, 180) 120%);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}